Documentation/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Level" nillable="true" type="Level" />
  <xs:complexType name="Level">
    <xs:complexContent mixed="false">
      <xs:extension base="Screen" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Screen">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="File" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XElement">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="Opacity" type="xs:float" use="required" />
        <xs:attribute name="Rotation" type="xs:float" use="required" />
        <xs:attribute name="Bounds" type="xs:string" />
        <xs:attribute name="BackColor" type="xs:string" />
        <xs:attribute name="Origin" type="xs:string" />
        <xs:attribute name="RotationCenter" type="xs:string" />
        <xs:attribute name="Scale" type="xs:string" />
        <xs:attribute name="Location" type="xs:string" />
        <xs:attribute name="Center" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XObject" abstract="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="Iterator" type="Iterator" />
        <xs:element minOccurs="0" maxOccurs="1" name="Resources" type="Resources" />
        <xs:element minOccurs="0" maxOccurs="1" name="Dashboard" type="Dashboard" />
        <xs:element minOccurs="0" maxOccurs="1" name="TapArea" type="TapArea" />
        <xs:element minOccurs="0" maxOccurs="1" name="Include" type="Include" />
        <xs:element minOccurs="0" maxOccurs="1" name="Music" type="Music" />
        <xs:element minOccurs="0" maxOccurs="1" name="Sound" type="Sound" />
        <xs:element minOccurs="0" maxOccurs="1" name="Viewport" type="Viewport" />
        <xs:element minOccurs="0" maxOccurs="1" name="LevelSettings" type="LevelSettings" />
        <xs:element minOccurs="0" maxOccurs="1" name="Layer" type="Layer" />
        <xs:element minOccurs="0" maxOccurs="1" name="IntersectionTrigger" type="IntersectionTrigger" />
        <xs:element minOccurs="0" maxOccurs="1" name="DistanceTrigger" type="DistanceTrigger" />
        <xs:element minOccurs="0" maxOccurs="1" name="BoolTrigger" type="BoolTrigger" />
        <xs:element minOccurs="0" maxOccurs="1" name="NumTrigger" type="NumTrigger" />
        <xs:element minOccurs="0" maxOccurs="1" name="Class" type="Class" />
        <xs:element minOccurs="0" maxOccurs="1" name="Tower" type="Tower" />
        <xs:element minOccurs="0" maxOccurs="1" name="Hero" type="Hero" />
        <xs:element minOccurs="0" maxOccurs="1" name="Enemy" type="Enemy" />
        <xs:element minOccurs="0" maxOccurs="1" name="Food" type="Food" />
        <xs:element minOccurs="0" maxOccurs="1" name="Explosion" type="Explosion" />
        <xs:element minOccurs="0" maxOccurs="1" name="Text" type="Text" />
        <xs:element minOccurs="0" maxOccurs="1" name="SequenceSet" type="SequenceSet" />
        <xs:element minOccurs="0" maxOccurs="1" name="RandomSet" type="RandomSet" />
        <xs:element minOccurs="0" maxOccurs="1" name="ParallelSet" type="ParallelSet" />
        <xs:element minOccurs="0" maxOccurs="1" name="Do" type="Do" />
        <xs:element minOccurs="0" maxOccurs="1" name="Block" type="Block" />
        <xs:element minOccurs="0" maxOccurs="1" name="NumAnimation" type="NumAnimation" />
        <xs:element minOccurs="0" maxOccurs="1" name="KeyFrame" type="KeyFrame" />
        <xs:element minOccurs="0" maxOccurs="1" name="Group" type="Group" />
        <xs:element minOccurs="0" maxOccurs="1" name="Image" type="Image" />
        <xs:element minOccurs="0" maxOccurs="1" name="Delay" type="Delay" />
        <xs:element minOccurs="0" maxOccurs="1" name="Sprite" type="Sprite" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="ClassParams" type="xs:string" />
    <xs:attribute name="Enabled" type="xs:boolean" use="required" />
  </xs:complexType>
  <xs:complexType name="Iterator">
    <xs:complexContent mixed="false">
      <xs:extension base="XRunnableBase">
        <xs:attribute name="TypeFilter" type="xs:string" />
        <xs:attribute name="ObjectIds" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XRunnableBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="InProgress" type="xs:boolean" use="required" />
        <xs:attribute name="RepeatCount" type="xs:float" use="required" />
        <xs:attribute name="RepeatTime" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XAnimationBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XRunnableBase">
        <xs:attribute name="Autoreverse" type="xs:boolean" use="required" />
        <xs:attribute name="Fill" type="XAnimationFillBehavior" use="required" />
        <xs:attribute name="Duration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="XAnimationFillBehavior">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Hold" />
      <xs:enumeration value="Reset" />
      <xs:enumeration value="End" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumAnimation">
    <xs:complexContent mixed="false">
      <xs:extension base="XAnimationBase">
        <xs:attribute name="Target" type="xs:string" />
        <xs:attribute name="From" type="xs:string" />
        <xs:attribute name="To" type="xs:string" />
        <xs:attribute name="IsDelta" type="xs:boolean" use="required" />
        <xs:attribute name="Smoothing" type="CurveTangent" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CurveTangent">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Flat" />
      <xs:enumeration value="Linear" />
      <xs:enumeration value="Smooth" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Do">
    <xs:complexContent mixed="false">
      <xs:extension base="XRunnableBase">
        <xs:attribute name="Action" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XSetBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XRunnableBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ParallelSet">
    <xs:complexContent mixed="false">
      <xs:extension base="XSetBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RandomSet">
    <xs:complexContent mixed="false">
      <xs:extension base="XSetBase">
        <xs:attribute name="Probabilities" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SequenceSet">
    <xs:complexContent mixed="false">
      <xs:extension base="XSetBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Resources">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="SoundFile" type="SoundFile" />
            <xs:element minOccurs="0" maxOccurs="1" name="Font" type="Font" />
            <xs:element minOccurs="0" maxOccurs="1" name="Texture" type="Texture" />
            <xs:element minOccurs="0" maxOccurs="1" name="MusicFile" type="MusicFile" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="RootFolder" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SoundFile">
    <xs:complexContent mixed="false">
      <xs:extension base="XResource" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XResource" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="Source" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MusicFile">
    <xs:complexContent mixed="false">
      <xs:extension base="XResource" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Texture">
    <xs:complexContent mixed="false">
      <xs:extension base="XResource" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Font">
    <xs:complexContent mixed="false">
      <xs:extension base="XResource" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dashboard">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TapArea">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Event" type="xs:string" />
        <xs:attribute name="Action" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Include">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="File" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Music">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="InProgress" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="FileId" type="xs:string" />
        <xs:attribute name="Volume" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Sound">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="InProgress" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="FileId" type="xs:string" />
        <xs:attribute name="Pitch" type="xs:float" use="required" />
        <xs:attribute name="Pan" type="xs:float" use="required" />
        <xs:attribute name="IsLooped" type="xs:boolean" use="required" />
        <xs:attribute name="Volume" type="xs:float" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Viewport">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LevelSettings">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="Difficulty" type="xs:int" use="required" />
        <xs:attribute name="BombCount" type="xs:int" use="required" />
        <xs:attribute name="HeroHealth" type="xs:float" use="required" />
        <xs:attribute name="ExplosionClass" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Layer">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IntersectionTrigger">
    <xs:complexContent mixed="false">
      <xs:extension base="XNumTriggerBase">
        <xs:attribute name="ObjectId1" type="xs:string" />
        <xs:attribute name="ObjectId2" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XNumTriggerBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XTriggerBase">
        <xs:attribute name="Value" type="xs:string" />
        <xs:attribute name="Compare" type="XValueComparison" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XTriggerBase" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="EnterAction" type="xs:string" />
        <xs:attribute name="ExitAction" type="xs:string" />
        <xs:attribute name="Action" type="xs:string" />
        <xs:attribute name="Group" type="xs:string" />
        <xs:attribute name="StayTriggered" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BoolTrigger">
    <xs:complexContent mixed="false">
      <xs:extension base="XTriggerBase">
        <xs:attribute name="Condition" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="XValueComparison">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E" />
      <xs:enumeration value="G" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="L" />
      <xs:enumeration value="LE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NumTrigger">
    <xs:complexContent mixed="false">
      <xs:extension base="XNumTriggerBase">
        <xs:attribute name="Property" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistanceTrigger">
    <xs:complexContent mixed="false">
      <xs:extension base="XNumTriggerBase">
        <xs:attribute name="ObjectId1" type="xs:string" />
        <xs:attribute name="ObjectId2" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Class">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Tower">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="SignalSpeed" type="xs:double" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Hero">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Speed" type="xs:float" use="required" />
        <xs:attribute name="Direction" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Enemy">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Damage" type="xs:float" use="required" />
        <xs:attribute name="IsExploding" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Food">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Points" type="xs:float" use="required" />
        <xs:attribute name="IsExploding" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Explosion">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Ranges" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Text">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Text" type="xs:string" />
        <xs:attribute name="FontId" type="xs:string" />
        <xs:attribute name="Color" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Block">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="Edges" type="XEdgeType" use="required" />
        <xs:attribute name="IsExploding" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="XEdgeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Bounce" />
      <xs:enumeration value="Stick" />
      <xs:enumeration value="Teleport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="KeyFrame">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:attribute name="Value" type="xs:string" />
        <xs:attribute name="Smoothing" type="CurveTangent" use="required" />
        <xs:attribute name="Time" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="IsExploding" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Image">
    <xs:complexContent mixed="false">
      <xs:extension base="XElement">
        <xs:attribute name="TextureId" type="xs:string" />
        <xs:attribute name="Stretch" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Sprite">
    <xs:complexContent mixed="false">
      <xs:extension base="Image">
        <xs:attribute name="FrameCount" type="xs:int" use="required" />
        <xs:attribute name="CurrentFrame" type="xs:int" use="required" />
        <xs:attribute name="FrameBounds" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Delay">
    <xs:complexContent mixed="false">
      <xs:extension base="XObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="InProgress" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="Duration" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>